name: AntiPanel Automation Deployment 

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Obtenemos el código mas reciente del repositorio
      - name: Checkout repository
        uses: actions/checkout@v4

      # Preparamos el SSH con la clave privada
      - name: webfactory/ssh-agent
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.DO_SSH_PRIVATE_KEY }}

      # Mejoramos la seguridad al añadir la clave publica del servidor a known_hosts. Evitando así ataques MITM
      - name: Add Server to Known Hosts
        run: |
          ssh-keyscan -H ${{ secrets.VPS_HOST }} >> ~/.ssh/known_hosts
      
      # Ejecutamos el script de despliegue en el servidor remoto
      - name: Deploy to VPS
        run: |
          ssh ${{ secrets.DEPLOY_USER }}@${{ secrets.VPS_HOST }} << 'EOF'
            echo "[+] Iniciando despliegue automatico desde GitHub Actions..."

            cd ~/AntiPanel

            chmod +x scripts/deployment.sh
            ./scripts/deployment.sh

            echo "[+] Deployment Completed"
          EOF